* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: white;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    min-height: 100vh;
    background: radial-gradient(100px at 10% 200px, rgba(41, 125, 180,30%),  transparent), 
                radial-gradient(100px at 85% 400px, rgba(196, 55, 209, 0.3),  transparent),
                linear-gradient(to bottom, #000,#181818);
    background-repeat: no-repeat
}
header {
    padding: 4rem 0;
    text-align: center;
    h1 {
        margin-bottom: 2rem;
        font-size: clamp(2rem, 5vw, 4rem);
    }
}
.container {
    width: clamp(350px,80vw, 1200px);
    margin: 0 auto;
}


canvas {
    width: 100%;
    aspect-ratio: 1/1;
}

$card-border-color: rgb(90, 90, 90);

.cards {
    display: flex;
    gap: 1rem;

    @media screen and (max-width: 576px) {
        flex-direction: column;
    }

    .card {
        border: 1px solid $card-border-color;
        border-radius: .4rem;
        width: 100%;
    }

    .card-body {
        background-color: rgba(50,50,50,.2);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }

    
    .card-title {
        text-align: center;
        padding: .3rem;
        border-bottom: 1px solid $card-border-color;
        background-color: rgba(200,200,200,.2);
        backdrop-filter: blur(5px);
        border-top-left-radius: .4rem;
        border-top-right-radius: .4rem;
    }
}

.btn {
    border: none;
    transition: all .2s;
    padding: .3rem .6rem;
    border-radius: .2rem;
    cursor: pointer;

    & > svg {
        margin-right: .5rem;
    }

    &.btn-xl {
        padding: .7rem 2rem;  
        font-size: 1.4rem;
        border-radius: 50rem;  
    }

    &.btn-primary {
        background-color: rgba(68, 144, 189, 0.87);
        color: white;
        &:hover {
            background-color: rgb(43, 141, 197);
        }
    }
    
    &.btn-success {
        color: white;
        background-color: #24a186;
        &:hover {
            background-color: #29c9a6;
        }
        &:active {
            background-color: #1c806a;
        }
    }
}

.config {
    position: absolute;
    top: 230px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    .config-body {
        width: 300px;
        background-color: rgba(40,40,40,.9);
        backdrop-filter: blur(5px);
        padding: 1rem;
    }
    .config-toggle {
        background-color: rgba(68, 144, 189, 0.87);
        padding: .6rem;
        cursor: pointer;
        border-top-right-radius: .8rem;
        border-bottom-right-radius: .8rem;
    }
}

.flex {
    display: flex;
}

.w-1\/2 {
    width: 50%;
}

.gap-2 {
    gap: 1rem;
}

.form-group {
    margin-top: 1rem;
}

.right {
    float: right;
}

input,textarea {
    width: 100%;
    background-color: rgba(32, 32, 32, 0.534);
    border: 1px solid #ccc;
    padding: .1rem .3rem;
    color: white;
    border-radius: .3rem;

    &:focus {
        outline: none;
        box-shadow: 0 0 3px rgba(157, 186, 202, 0.685);
    }
}

footer {
    text-align: center;
    padding: 4rem-0;
    a {
        color: white;

    }
}